# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
env/
venv/
*.egg
*.egg-info/
dist/
build/
*.so

# Environment variables
.env

# IDE-specific files (e.g., VS Code)
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log